</div>
</main>

<script src="{{ "/js/svgxuse.min.js" | relURL }}"></script>
<script src="{{ "/js/volta.min.js" | relURL }}"></script>

<script>
    Volta.init(['menu', 'menuCollapse']);
</script>

<script src="{{ "/js/addons/prism.js" | relURL }}"></script>

<style>
ul {
    list-style-type: disc;
    padding-left: 30px;
}
th {
    background: lightgrey;
}

th, td {
border: 1px solid black;
    padding: 3px;
}

ul {
margin-bottom: 10px;
}

blockquote {
    border-left: 3px solid #0f6ba1;
    padding-left: 5px;
}

</style>

</body></html>

