<head>
    <meta charset="UTF-8">
    <title>Nexmo API Standards</title>

    <!-- Replace the following path with the path to your Volta package -->
    <link rel="stylesheet" href="{{ "/css/volta.min.css" | relURL }}"> 

    <!-- This is only needed for code snippet so you can remove it if you don't need them -->
    <!-- If you do, you'll have to replace the following path with the path to your Volta package -->
    <link rel="stylesheet" href="{{ "/css/addons/volta-prism.css" | relURL }}">
    <link rel="stylesheet" href="{{ "/css/volta-templates.min.css" | relURL }}">

    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.7.1/clipboard.min.js"></script>
</head>
